<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>My Blog</title>
</head>
	<body>
		@If.isLoggedIn
			<p>Welcome @Model.username <a href="/logout">Logout</a> | <a href="/newpost">New Post</a></p>
		@EndIf
		<h1>My Blog</h1>
		@Each.myPosts
		<h2><a href="/post/@Current.Permalink">@Current.Title</a></h2>
		Posted @Current.Date <i>By @Current.Author</i><br />
		Comments: @If.HasComments @Current.Comments.Length @EndIf @IfNot.HasComments 0 @EndIf
		<hr />
		<p>@Current.Body</p>
		<p><em>Filed under: @Current.AllTags</em></p>
		@EndEach
	</body>
</html>
